@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
    --font-Sans : "Public Sans" , sans-serif;
    --font-Playfair-Dispaly : "Playfair Display";
    --font-Nunito : "Nunito Sans";
    --color-primary : #005000;
}

body{
    font-family: 'Public Sans', sans-serif;
}