@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-Sans : "Public Sans" , sans-serif;
    --font-Playfair-Dispaly : "Playfair Display"
    --color-prime : #005000;
    --color-primary : #005000;
}

body{
    font-family: 'Public Sans', sans-serif;
}